
* {
  -webkit-appearance: none
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}

main {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 500px;
  padding: 16px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 4px;
  background-color: white;
}

.cell {
  aspect-ratio: 1;
  border: none;
  background-color: #202020;
  padding: 0;
  margin: 0;
}

.cell:active:enabled {
  background-color: #3f3f3f;
}

@media (hover: hover) {
  .cell:enabled {
    transition: 0.4s;
    cursor: pointer;
  }

  .cell:hover:enabled {
    background-color: #3f3f3f;
  }

  .cell:active:enabled {
    background-color: #6f6f6f;
  }
}

.cell--symbol {
  transform: scale(2);
  fill: white;
}

.cell--symbol.empty {
  transform: scale(2);
  fill: transparent;
}

.current-player {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.current-player--current {
  transform: scale(0.7);
  fill: white;
  margin-right: -8px;
}

.current-player--current.hidden {
  visibility: hidden;
}

.current-player--player {
  display: flex;
  align-items: center;
  color: white;
}

.current-player--symbol {
  transform: scale(0.5);
  fill: white;
  margin-left: -8px;
}

.winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.winner--text {
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
}

.winner--symbol {
  transform: scale(0.7);
  fill: white;
  margin: 0px -4px 0px -4px;
}

.winner--button {
  color: #202020;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
}

.winner--button:active {
  background-color: #afafaf;
}

@media (hover: hover) {
  .winner--button {
    transition: 0.4s;
    cursor: pointer;
  }

  .winner--button:hover {
    background-color: #cfcfcf;
  }

  .winner--button:active {
    background-color: #afafaf;
  }
}
